# üß© Reto 2 ‚Äì pH
**Objetivo:** clasificar pH y generar alerta qu√≠mica.

**Datos:** `../data/muestras_calidad_agua.csv`

### Pasos
1. Carga el CSV en `df`.
2. Extrae `sitio` y `pH`.
3. Crea `clasificacion_pH` con tres rangos.
4. Crea `alerta_quimica` (revisi√≥n si pH < 6.5 o pH > 8.5).
5. Filtra `df_alerta` y exporta `resultado_ph.csv`.

> **Reto adicional:** promedio y desviaci√≥n est√°ndar.

# Reto 2 ‚Äì pH: Clasificaci√≥n y Alerta Qu√≠mica  

Curso: M√©todos N√∫mericos   
Tema: Calidad del agua ‚Äì an√°lisis del pH  
Autor: Camila Rico - Jackson Quintero - Julian Rodriguez

En este reto se busca analizar los valores de pH de diferentes fuentes h√≠dricas, clasificarlos seg√∫n su nivel de acidez o alcalinidad y generar alertas qu√≠micas cuando los valores est√©n fuera del rango √≥ptimo (6.5 ‚Äì 8.5).

In [10]:
# Instalaci√≥n de librer√≠as necesarias (solo ejecutar una vez)
%pip install pandas numpy

277.63s - pydevd: Sending message related to process being replaced timed-out after 5 seconds

Requirement already satisfied: pandas in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/udec-ambiental-metodos-numericos-4_condicionales-4_condicionales/.venv/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
# Importar librer√≠as
import pandas as pd
import numpy as np

# Cargar el archivo CSV
df = pd.read_csv("../data/muestras_calidad_agua.csv")

# Mostrar las primeras filas
df.head()

                          sitio   pH  oxigeno  temperatura
0                R√≠o Subachoque  7.2      7.8         18.5
1   Quebrada Honda (Facatativ√°)  6.3      6.2         19.4
2          R√≠o Botello (Madrid)  6.8      5.9         22.7
3  Afluente San Jos√© (El Rosal)  7.9      8.3         20.1
4                   R√≠o Villeta  8.7      6.1         28.3

## Interpretaci√≥n inicial del pH  

El pH indica el grado de acidez o alcalinidad del agua:  
- Valores menores a 7.0 ‚Üí medio √°cido
- Valores iguales a 7.0 ‚Üí neutro
- Valores mayores a 7.0 ‚Üí medio b√°sico (alcalino) 

Para determinar la calidad, se tomar√° como rango adecuado entre 6.5 y 8.5

In [12]:
# Extraer solo las columnas 
df_ph = df[['sitio', 'pH']]
df_ph

                           sitio   pH
0                 R√≠o Subachoque  7.2
1    Quebrada Honda (Facatativ√°)  6.3
2           R√≠o Botello (Madrid)  6.8
3   Afluente San Jos√© (El Rosal)  7.9
4                    R√≠o Villeta  8.7
5  Quebrada Cune (San Francisco)  6.0
6            R√≠o Tobia (Nocaima)  7.4
7       Quebrada Negra (La Vega)  7.6
8          R√≠o Baham√≥n (Sasaima)  8.1
9        R√≠o Guayuriba (La Mesa)  5.9

## Clasificaci√≥n de pH

Se crea una nueva columna llamada clasificacion_pH con base en los siguientes rangos:

- pH < 6.5 ‚Üí "√Åcido"  
- 6.5 ‚â§ pH ‚â§ 8.5 ‚Üí "Neutro"  
- pH > 8.5 ‚Üí "B√°sico"

In [13]:
# Crear la clasificaci√≥n de pH
def clasificar_ph(valor):
    if valor < 6.5:
        return "√Åcido"
    elif valor <= 8.5:
        return "Neutro"
    else:
        return "B√°sico"

df_ph['clasificacion_pH'] = df_ph['pH'].apply(clasificar_ph)
df_ph

/tmp/ipykernel_12955/3919681955.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_ph['clasificacion_pH'] = df_ph['pH'].apply(clasificar_ph)

                           sitio   pH clasificacion_pH
0                 R√≠o Subachoque  7.2           Neutro
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido
2           R√≠o Botello (Madrid)  6.8           Neutro
3   Afluente San Jos√© (El Rosal)  7.9           Neutro
4                    R√≠o Villeta  8.7           B√°sico
5  Quebrada Cune (San Francisco)  6.0            √Åcido
6            R√≠o Tobia (Nocaima)  7.4           Neutro
7       Quebrada Negra (La Vega)  7.6           Neutro
8          R√≠o Baham√≥n (Sasaima)  8.1           Neutro
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido

## Generaci√≥n de alerta qu√≠mica  

Se genera una alerta cuando el pH est√° fuera del rango √≥ptimo (menor a 6.5 o mayor a 8.5).  
La nueva columna se llama alerta_quimica y toma el valor "Revisar" o "Normal"

In [14]:
# Crear columna de alerta qu√≠mica
df_ph['alerta_quimica'] = np.where(
    (df_ph['pH'] < 6.5) | (df_ph['pH'] > 8.5),
    "Revisar",
    "Normal"
)
df_ph

                           sitio   pH clasificacion_pH alerta_quimica
0                 R√≠o Subachoque  7.2           Neutro         Normal
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido        Revisar
2           R√≠o Botello (Madrid)  6.8           Neutro         Normal
3   Afluente San Jos√© (El Rosal)  7.9           Neutro         Normal
4                    R√≠o Villeta  8.7           B√°sico        Revisar
5  Quebrada Cune (San Francisco)  6.0            √Åcido        Revisar
6            R√≠o Tobia (Nocaima)  7.4           Neutro         Normal
7       Quebrada Negra (La Vega)  7.6           Neutro         Normal
8          R√≠o Baham√≥n (Sasaima)  8.1           Neutro         Normal
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido        Revisar

## Filtrar sitios con alerta qu√≠mica  

A continuaci√≥n se muestran los sitios donde el pH requiere revisi√≥n

In [15]:
# Filtrar los sitios que presentan alerta
df_alerta = df_ph[df_ph['alerta_quimica'] == 'Revisar']
df_alerta

                           sitio   pH clasificacion_pH alerta_quimica
1    Quebrada Honda (Facatativ√°)  6.3            √Åcido        Revisar
4                    R√≠o Villeta  8.7           B√°sico        Revisar
5  Quebrada Cune (San Francisco)  6.0            √Åcido        Revisar
9        R√≠o Guayuriba (La Mesa)  5.9            √Åcido        Revisar

## Exportar resultados  

El resultado del an√°lisis se exporta a un archivo CSV llamado resultado_ph.csv para su uso posterior

In [16]:
# Exportar los resultados
df_ph.to_csv("resultado_ph.csv", index=False)
print(" Archivo exportado como 'resultado_ph.csv'")

 Archivo exportado como 'resultado_ph.csv'

## Reto adicional  

Calcular el promedio y la desviaci√≥n est√°ndar del pH en todas las muestras

In [17]:
# C√°lculo estad√≠stico
promedio_ph = df_ph['pH'].mean()
desviacion_ph = df_ph['pH'].std()

print(f"Promedio del pH: {promedio_ph:.2f}")
print(f"Desviaci√≥n est√°ndar del pH: {desviacion_ph:.2f}")

Promedio del pH: 7.19
Desviaci√≥n est√°ndar del pH: 0.93

## Conclusi√≥n  

Se identifico los sitios con valores de pH fuera del rango √≥ptimo para la calidad del agua. Estos sitios deben ser revisados qu√≠micamente, ya que podr√≠an reflejar contaminaci√≥n o alteraciones naturales. Adem√°s, el c√°lculo del promedio y la desviaci√≥n est√°ndar ayuda a entender la variabilidad general del pH en la cuenca estudiada